*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Red Hat Display", serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-white);
}

:root {
  --color-white: #FAFAFA;
  --color-cyan-300: #71C0D4;
  --color-cyan-600: #4D96A9;
  --color-purple-300: #B18BDD;
  --color-purple-600: #855FB1;

  --color-slate-300: #D1D1DF;
  --color-slate-600: #87879D;
  --color-slate-900: #28283D;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    padding: 0 80px;
  }
}

.btn {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 29px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  background-color: var(--color-cyan-600);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.btn span {
  display: inline-block;
  color: var(--color-cyan-300);
  transition: all 0.3s ease-in-out;
  margin-left: 4px;
}

.btn.btn--secondary span {
  color: var(--color-purple-300);
}

.btn:hover {
  background-color: var(--color-cyan-300);
}

.btn:hover span{
  color: #8FE3F9;
}

.btn.btn--secondary:hover span {
  color: #D9B8FF;
}

.btn.btn--secondary {
  background-color: var(--color-purple-600);
}

.btn.btn--secondary:hover {
  background-color: var(--color-purple-300);
}

.page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
}

.number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-slate-600);
  border: 1px solid var(--color-slate-300);
  border-radius: 50%;
  background-color: var(--color-white);
  z-index: 2;
}

.number:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 1px;
  background: var(--color-slate-300);
}

.header__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 76px;
}

@media (min-width: 1280px) {
  .header__wrap {
    height: 108px;
  }
}

.header__logo {
  height: 28px;
  width: 118px;
}

.header__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hero {
  padding: 64px 35px 32px 35px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .hero {
    padding: 64px 44px;
  }
}

@media (min-width: 1280px) {
  .hero {
    padding: 64px 0;
    overflow: hidden;
  }
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .footer__wrap {
    background-image: url("/assets/images/tablet/image-footer.jpg");
  }
}

@media (min-width: 1280px) {
  .hero__wrap {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
}

.hero__decoration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
}

@media (min-width: 600px) {
  .hero__decoration {
    height: 303px;
  }
}

@media (min-width: 1280px) {
  .hero__decoration {
    height: 360px;
  }
}

.hero__decoration--left:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 433px;
  height: 160px;
  background-image: url("/assets/images/tablet/image-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 600px) {
  .hero__decoration--left:before {
    width: 820px;
    height: 303px;
  }
}

@media (min-width: 1280px) {
  .hero__decoration--left:before {
    top: 0;
    left: -60%;
    transform: none;
    height: 303px;
    width: 394px;
    background-image: url("/assets/images/desktop/image-hero-left.png");
  }
}

.hero__decoration--right {
  display: none;
}

@media (min-width: 1280px) {
  .hero__decoration--right { 
    display: block;
  }
}

.hero__decoration--right:before {
  position: absolute;
  content: "";
  bottom: 0;
  right: -60%;
  height: 303px;
  width: 394px;
  background-image: url("/assets/images/desktop/image-hero-right.png");
  background-repeat: no-repeat;
}

.hero__content {
  text-align: center;
  max-width: 448px;
  width: 100%;
  margin-top: 48px;
}

@media (min-width: 600px) {
  .hero__content {
    margin-top: 72px;
  }
}

@media (min-width: 1280px) {
  .hero__content {
    min-width: 448px;
    margin-top: 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  color: var(--color-slate-900);
}

@media (min-width: 600px) {
  .hero__title {
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: 64px;
  }
}

.hero__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-slate-600);
  margin-top: 32px;
}

.hero__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
}

@media (min-width: 600px) {
  .hero__btns {
    gap: 17px;
  }
}

.main__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 64px 32px;
}

@media (min-width: 600px) {
  .main__wrap {
    padding: 56px 44px 64px 44px;
  }
}

@media (min-width: 1280px) {
  .main__wrap {
    padding: 56px 0 72px 0;
  }
}

.main__number {
  display: flex;
  align-items: flex-end;
  height: 136px;
}

.main__images {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin: 64px 0;
}

@media (min-width: 600px) {
  .main__images {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 0;
  }
}

@media (min-width: 1280px) {
  .main__images {
    column-gap: 32px;
  }
}

.main__img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1;
}

.main__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 544px;
}

.main__subtitle {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.29em;
  text-transform: uppercase;
  color: var(--color-cyan-600);
}

.main__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-slate-900);
  margin-top: 16px;
  max-width: 455px;
}

@media (min-width: 600px) {
  .main__title {
    font-size: 36px;
  }
}  

@media (min-width: 1280px) {
  .main__title {
    font-size: 40px;
  }
}  

.main__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-slate-600);
  margin-top: 32px;
}

.footer {
  position: relative;
  margin-top: auto;
}

.footer__number {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 17%;
  z-index: 5;
  transform: translateX(-50%);
}

@media (min-width: 600px) {
  .footer__number {
    top: 18%;
  }
}  

@media (min-width: 1280px) {
  .footer__number {
    top: 19%;
  }
}  

.footer__wrap {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 108px;
}

@media (min-width: 1280px) {
  .footer__wrap {
    background-image: url("/assets/images/desktop/image-footer.jpg");
  }
}

.footer__wrap:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--color-cyan-600);
  opacity: 0.9;
}

.footer__inner {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 64px 32px;
  text-align: center;
}

@media (min-width: 1280px) {
  .footer__inner {
    text-align: left;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
    padding: 112px 0;
  }
}

.footer__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
}

@media (min-width: 600px) {
  .footer__title {
    font-size: 36px;
  }
}  

@media (min-width: 1280px) {
  .footer__title {
    font-size: 40px;
  }
}  

.footer__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  max-width: 355px;
}

@media (min-width: 1280px) {
  .footer__btn {
    margin-left: 63px;
  }
}
